<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Booking Room" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row mt-4">
  <div class="col-lg-12">
    <!-- mx-n4 -->
    <div class="card mt-n4 mb-n5 ">
      <div class="bg-dark-subtle rounded">
        <div class="card-body pb-4 mb-5">
          <div class="row">
            <div class="col-md">
              <div class="row align-items-center">
<!--                <div class="col-md-auto">-->
<!--                  <div class="avatar-md mb-md-0 mb-4">-->
<!--                    <div class="avatar-title bg-white rounded-circle">-->
<!--                      <img src="assets/images/companies/img-4.png" alt="" class="avatar-sm" />-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash;end col&ndash;&gt;-->
                <div class="col-md">
                  <h4 class="fw-semibold" id="ticket-title"># {{roomInfo.name}}</h4>
                  <div class="hstack gap-3 flex-wrap">
                    <div class="text-muted"><i class="ri-building-line align-bottom me-1"></i> <span
                      id="ticket-client">Room</span></div>
                    <div class="vr"></div>
                    <div class="text-muted">Last Updated : <span class="fw-medium" id="create-date">
                      {{ roomInfo.updatedAt | date: 'dd-MMM-yyyy HH:mm' }}
                    </span></div>

                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end col-->
            <div class="col-md-auto mt-md-0 mt-4">
            </div><!--end col-->
          </div><!--end row-->
        </div><!-- end card body -->
      </div>
    </div><!-- end card -->
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-xxl-9">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-title mb-0">รายละเอียดห้องประชุม</h5>
        <div class="d-flex align-items-center">
          <!-- back button -->
          <a href="javascript:history.back()" class="btn btn-sm btn-primary">
            <i class="ri-arrow-left-line me-2"></i>Back
          </a>
        </div>
      </div>
      <div class="card-body p-4">
        <div class="row">
          <!-- Image center-->
          <div class="col-12">
            <div class="text-center">
              <img src="{{ GlobalComponent.SERVE_URL }}/files/uploads/{{ roomInfo.imageUrl }}" class="rounded img-hover" alt="lead-image" width="250">
              <h4 class="card-title mt-2">ห้องประชุม {{ roomInfo.name}}</h4>
            </div>
          </div>
          <!-- Description -->
          <div class="col-xl-8">
            <div class="mt-4">
              <h5 class="fw-semibold">รายละเอียด</h5>
<!--              <p class="text-muted mb-0">{{ roomInfo.description }}</p>-->

              <div [innerHTML]="roomInfo.description"></div>
            </div>
          </div>

          <!-- Features คุณสมบัติ -->
          <div class="col-xl-4">
            <div class="mt-4">
              <h5 class="fw-semibold">คุณสมบัติ</h5>
              <ul class="list-unstyled text-muted">
                <li><i class="ri-check-line text-success me-1"></i> จอภาพ</li>
                <li><i class="ri-check-line text-success me-1"></i> โปรเจคเตอร์</li>
                <li><i class="ri-check-line text-success me-1"></i> ไมค์</li>
                <li><i class="ri-check-line text-success me-1"></i> โต๊ะ</li>
                <li><i class="ri-check-line text-success me-1"></i> เก้าอี้</li>
              </ul>
            </div>
          </div>
        </div>
      </div><!--end card-body-->
      <div class="card-body p-4">
        <!-- BUTTON จองห้อง -->
        <div class="d-flex justify-content-center">
          <a class="btn btn-success" href="javascript:void(0);" >
            <i class=" ri-file-text-line me-2"></i> จอง
          </a>
          <div class="d-flex align-items-center">
            <!-- Cancel button -->
            <a href="javascript:history.back()" class="btn btn-danger ms-3">
              <i class="ri-close-line me-2"></i>ยกเลิก </a>

          </div>
        </div>
      </div>
      <!-- end card body -->
    </div><!--end card-->

  </div><!--end col-->
  <div class="col-xxl-3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">ปฏิทิน</h5>
      </div>
      <div class="card-body">
        <div class="mt-1">
          <input class="form-control flatpickr-input mb-2" type="text" mwlFlatpickr [altInput]="true" [options]="datePickerOptions" [convertModelValue]="true" [inline]="true" (flatpickrChange)="onDateSelectChange($event)" [(ngModel)]="dateSelected">
        </div>
      </div><!--end card-body-->
    </div><!--end card-->
  </div><!--end col-->
  <div class="col-xxl-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-title mb-0">รายการที่จองแล้ว</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-centered table-nowrap table-hover mb-0">
            <thead>
              <tr>
                <th scope="col">วันที่</th>
                <th scope="col">เวลาเริ่ม</th>
                <th scope="col">เวลาสิ้นสุด</th>
                <th scope="col">สถานะ</th>
                <th scope="col">จัดการ</th>
              </tr>
            </thead>
            <tbody>
<!--              @for (booking of bookings; track $index)-->
<!--              {-->
<!--                <tr>-->
<!--                  <td>{{ booking.date | date: 'dd-MM-yyyy' }}</td>-->
<!--                  <td>{{ booking.timeStart }}</td>-->
<!--                  <td>{{ booking.timeEnd }}</td>-->
<!--                  <td>-->
<!--                    @if(booking.status == 'pending'){-->
<!--                      <span class="badge bg-warning">รอการอนุมัติ</span>-->
<!--                    } @else if(booking.status == 'approved'){-->
<!--                      <span class="badge bg-success">อนุมัติ</span>-->
<!--                    } @else {-->
<!--                      <span class="badge bg-danger">ไม่อนุมัติ</span>-->
<!--                    }-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    <a href="javascript:void(0);" class="text-muted">-->
<!--                      <i class="ri-pencil-line me-2"></i>แก้ไข-->
<!--                    </a>-->
<!--                    <a href="javascript:void(0);" class="text-muted ms-3">-->
<!--                      <i class="ri-delete-bin-line me-2"></i>ลบ-->
<!--                    </a>-->
<!--                  </td>-->
<!--                </tr>-->
<!--              }-->
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div><!--end row-->




