<!--begin::Toolbar-->
<div class="toolbar mb-5 mb-lg-7" id="kt_toolbar">
  <!--begin::Page title-->
  <div class="page-title d-flex flex-column me-3">
    <!--begin::Title-->
    <h1 class="d-flex text-gray-900 fw-bold my-1 fs-3">Home</h1>
    <!--end::Title-->
    <!--begin::Breadcrumb-->
    <ul class="breadcrumb breadcrumb-dot fw-semibold text-gray-600 fs-7 my-1">
      <!--begin::Item-->
      <li class="breadcrumb-item text-gray-600">Home</li>
      <!--end::Item-->
    </ul>
    <!--end::Breadcrumb-->
  </div>
  <!--end::Page title-->
  <!--begin::Actions-->
  <div class="d-flex align-items-center py-2 py-md-1">
  </div>
  <!--end::Actions-->
</div>
<!--end::Toolbar-->

<!--begin::Row blog-->
<div class="row g-5 g-lg-10">
  <!--begin::Col-->
  <div class="col-12 col-xxl-6">
    <!--begin::Card-->
    <div class="card" style="height: 250px;">
      <!--begin::Card body-->
      <div class="row card-body">
        <div class="col-6">
          <a class="overlay overlay-bg-dark overlay-bg-opacity-75" href="#">
            <div class="mw-100 hover-scale object-fit rounded h-100 bg-image" style="background-image: url('assets/media/metting-room/001.jpg');"></div>
          </a>
        </div>
        <!--begin::Card body-->
        <div class="col-6 overflow-hidden">
          <div class="p-3">
            <!--begin::Title-->
            <a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder text-nowrap">The Best Way to Learn HTML</a>
            <!--end::Title-->
            <!--begin::Text-->
            <p class="text-gray-600 fw-bold mt-2" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor lectus quis mattis aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor lectus quis mattis aliquet.
            </p>
            <!--end::Text-->
            <!--begin::Action-->
            <div class="d-flex align-items-center mt-">
              <a href="#" class="link-dark text-hover-primary">Read More</a>
            </div>
            <!--end::Action-->
          </div>
        </div>
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->

  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-12 col-xxl-6">
    <!--begin::Card-->
    <div class="card" style="height: 250px;">
      <!--begin::Card body-->
      <div class="row card-body">
        <div class="col-6">
          <a class="overlay overlay-bg-dark overlay-bg-opacity-75" href="#">
            <div class="mw-100 hover-scale object-fit rounded h-100 bg-image" style="background-image: url('assets/media/metting-room/001.jpg');"></div>
          </a>
        </div>
        <!--begin::Card body-->
        <div class="col-6 overflow-hidden">
          <div class="p-3">
            <!--begin::Title-->
            <a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder text-nowrap">The Best Way to Learn HTML</a>
            <!--end::Title-->
            <!--begin::Text-->
            <p class="text-gray-600 fw-bold mt-2" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor lectus quis mattis aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor lectus quis mattis aliquet.
            </p>
            <!--end::Text-->
            <!--begin::Action-->
            <div class="d-flex align-items-center mt-">
              <a href="#" class="link-dark text-hover-primary">Read More</a>
            </div>
            <!--end::Action-->
          </div>
        </div>
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->

  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-12 col-xxl-6">
    <!--begin::Card-->
    <div class="card" style="height: 250px;">
      <!--begin::Card body-->
      <div class="row card-body">
        <div class="col-6">
          <a class="overlay overlay-bg-dark overlay-bg-opacity-75" href="#">
            <div class="mw-100 hover-scale object-fit rounded h-100 bg-image" style="background-image: url('assets/media/metting-room/001.jpg');"></div>
          </a>
        </div>
        <!--begin::Card body-->
        <div class="col-6 overflow-hidden">
          <div class="p-3">
            <!--begin::Title-->
            <a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder text-nowrap">The Best Way to Learn HTML</a>
            <!--end::Title-->
            <!--begin::Text-->
            <p class="text-gray-600 fw-bold mt-2" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor lectus quis mattis aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor lectus quis mattis aliquet.
            </p>
            <!--end::Text-->
            <!--begin::Action-->
            <div class="d-flex align-items-center mt-">
              <a href="#" class="link-dark text-hover-primary">Read More</a>
            </div>
            <!--end::Action-->
          </div>
        </div>
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->

  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-12 col-xxl-6">
    <!--begin::Card-->
    <div class="card" style="height: 250px;">
      <!--begin::Card body-->
      <div class="row card-body">
        <div class="col-6">
          <a class="overlay overlay-bg-dark overlay-bg-opacity-75" href="#">
            <div class="mw-100 hover-scale object-fit rounded h-100 bg-image" style="background-image: url('assets/media/metting-room/001.jpg');"></div>
          </a>
        </div>
        <!--begin::Card body-->
        <div class="col-6 overflow-hidden">
          <div class="p-3">
            <!--begin::Title-->
            <a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder text-nowrap">The Best Way to Learn HTML</a>
            <!--end::Title-->
            <!--begin::Text-->
            <p class="text-gray-600 fw-bold mt-2" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor lectus quis mattis aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor lectus quis mattis aliquet.
            </p>
            <!--end::Text-->
            <!--begin::Action-->
            <div class="d-flex align-items-center mt-">
              <a href="#" class="link-dark text-hover-primary">Read More</a>
            </div>
            <!--end::Action-->
          </div>
        </div>
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->

  </div>
  <!--end::Col-->

</div>
