<app-breadcrumbs title="ข้อมูลข่าวสาร" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items center">
          <h5 class="card-title mb-0 flex-grow-1">
            @if(id > 0)
            {
              {{ "INFORMATION-EDIT" | translate }}
            } @else {
              {{ "INFORMATION-NEW" | translate }}
            }
          </h5>
          <div class="">
            <a routerLink="/admin/new" class="btn btn-info add-btn ms-2" ><i class="ri-arrow-left-line me-2"></i>
              {{ "BACK" | translate }}</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- Form New Information -->
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-ng-12">
              <!-- Image review -->
              <div class="mb-3 d-flex justify-content-center align-items-center overflow-hidden d-none image-review-container" id="image-review-container">
                <img src="https://images.unsplash.com/photo-1740738174801-12a109f9acd3?q=80&w=1314&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded w-100 hovering-zoom" alt="image" id="image-review" style="max-width: 200px;">
              </div>
              <!-- Image -->
              <div class="mb-3">
                <label for="image" class="form-label">{{ "IMAGE" | translate }}</label>
                <input type="file" class="form-control" id="image" accept="image/*" (change)="onFileChange($event)">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="title" class="form-label">{{ "TITLE" | translate }} <code>*</code></label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" [ngClass]="{'is-invalid': submitted && !form.title.valid}" required [(ngModel)]="form.title.data">
              </div>
            </div>
            <div class="col-lg-3">
              <!-- Tag -->
              <div class="mb-3">
                <label for="tag" class="form-label">{{ "TAG" | translate }} <code>*</code></label>
                <input type="text" class="form-control" id="tag" name="tag" placeholder="Tag" [ngClass]="{'is-invalid': submitted && !form.tag.valid}" required [(ngModel)]="form.tag.data">
                <div class="form-text">{{ "TAG-HELP" | translate }}</div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-3">
                <label for="publish" class="form-label">{{ "PUBLISH" | translate }} <code>*</code></label>
                <select class="form-select" id="publish" name="publish" required (change)="onPublishChange($event)">
                    @if(id>0)
                    {
                      <option value="1" [selected]="form.publish.data == 1 ? 'selected' : '' ">{{ "YES" | translate }}</option>
                      <option value="0" [selected]="form.publish.data == 0 ? 'selected' : '' ">{{ "NO" | translate }}</option>
                    } @else {
                      <option value="1" selected>{{ "YES" | translate }}</option>
                      <option value="0">{{ "NO" | translate }}</option>

                    }
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <!-- Short Description -->
              <div class="mb-3">
                <label for="short-description" class="form-label">{{ "SHORT-DESCRIPTION" | translate }} <code>*</code></label>
                <textarea class="form-control" id="short-description" name="content" rows="3" placeholder="Short Description" style="resize: none;"  [ngClass]="{'is-invalid': submitted && !form.content.valid}" required [(ngModel)]="form.content.data"></textarea>
                <div class="form-text">{{ "SHORT-DESCRIPTION-HELP" | translate }}</div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <label for="editor-description" class="form-label fw-medium">{{ "DESCRIPTION" | translate }} <code>*</code></label>
                <div id="editor-description" class="editor">
                  <!-- Editor Description -->
                </div>
              </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <button type="submit" class="btn btn-primary" >
                  @if(id > 0)
                  {
                    {{ "UPDATE" | translate }}
                  }
                  @else{
                    {{ "SAVE" | translate }}
                  }
                </button>
              </div>
            </div>
            </div>
          </div>
        </form>
        <!-- End Form New Information -->
      </div>
    </div>
  </div>
  <!--end col-->
</div>
