<app-breadcrumbs title="New-Create" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items center">
          <h5 class="card-title mb-0 flex-grow-1">{{ "MEETING-CREATE_NEW" | translate }}</h5>
          <div class="">
            <a routerLink="/admin/new" class="btn btn-info add-btn ms-2" ><i class="ri-arrow-left-line me-2"></i>
              {{ "BACK" | translate }}</a>
          </div>
        </div>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
  <!--end col-->
</div>
