<app-breadcrumbs title="ข้อมูลข่าวสาร" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items center">
          <h5 class="card-title mb-0 flex-grow-1">{{ "INFORMATION-NEW" | translate }}</h5>
          <div class="">
            <a routerLink="/admin/new" class="btn btn-info add-btn ms-2" ><i class="ri-arrow-left-line me-2"></i>
              {{ "BACK" | translate }}</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- Form New Information -->
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="title" class="form-label">{{ "TITLE" | translate }}</label>
                <input type="text" class="form-control" id="title" placeholder="Title">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="status" class="form-label">{{ "STATUS" | translate }}</label>
                <select class="form-select" id="status" >
                  <option value="1">{{ "ACTIVE" | translate }}</option>
                  <option value="0">{{ "INACTIVE" | translate }}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <label for="editor-description" class="form-label fw-medium">{{ "DESCRIPTION" | translate }} <code>*</code></label>
                <div id="editor-description" class="editor">

                </div>

              </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <button type="submit" class="btn btn-primary">{{ "SAVE" | translate }}</button>
              </div>
            </div>
            </div>
          </div>
        </form>
        <!-- End Form New Information -->
      </div>
    </div>
  </div>
  <!--end col-->
</div>
