<div class="aside-footer flex-column-auto pt-5 pb-7 px-7" id="kt_aside_footer">
  <a href="https://preview.keenthemes.com/html/metronic/docs" class="btn btn-bg-light btn-color-gray-500 btn-active-color-gray-900 text-nowrap w-100" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click" title="200+ in-house components and 3rd-party plugins">
    <span class="btn-label">Docs & Components</span>
    <i class="ki-duotone ki-document btn-icon fs-2">
      <span class="path1"></span>
      <span class="path2"></span>
    </i>
  </a>
</div>
