<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Booking Room" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="contactList">
      <div class="card-header">
        <div class="d-flex align-items center">
          <h5 class="card-title mb-0 flex-grow-1">{{ "MEETING-ROOMS" | translate }}</h5>
          <p class="text-muted mb-0">Total 3 rooms</p>
        </div>
      </div>
      <div class="card-body mb-3">
        <div class="row justify-content-start g-3">
          <div class="col-xxl-3 col-sm-6">
            <div class="search-box">
              <input type="text" class="form-control search" placeholder="Search for ..." (input)="searchInput()"  [(ngModel)]="searchTerm">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
          <div class="col-xxl-3 col-sm-6">
            <div>
              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [options]="datePickerOptions" [altInput]="true" [convertModelValue]="true" placeholder="Select Date" (flatpickrChange)="onDateSelectChange($event)" [(ngModel)]="dateSelected">
            </div>
          </div>
          <!--end col-->
        </div><!--end row-->
      </div>
    </div>
  </div><!--end col-->
</div><!--end row-->

<div class="row">
  <div class="col-12">
    <div class="justify-content-between d-flex align-items-center mt-3 mb-4">
      <h5 class="mb-0 pb-1 text-decoration-underline">{{ "LIST-ROOM" | translate }}</h5>
    </div>
  </div>

  <div class="col-xl-12">
    <div class="row">
      @for (room of meetingRooms.meetingRooms; track $index){
        <div class="col-xxl-3 col-lg-6 col-xl-4">
          <div class="card card-body text-center">
            <div class="mb-2 h-150 d-flex justify-content-center align-items-center">
              @if (room.imageUrl) {
                <img src="{{ GlobalComponent.SERVE_URL }}/files/uploads/{{ room.imageUrl }}" class="rounded img-hover" alt="lead-image" width="250" (click)="onRoomSelect(room)" >
              } @else {
                <img src="assets/images/dummy-image-square.jpg" class="rounded img-hover" alt="lead-image" width="250" (click)="onRoomSelect(room)" >
              }
            </div>
            <h4 class="card-title mt-2">ห้องประชุม {{ room.name}}</h4>
            <p class="card-text text-muted">
              <!-- Limit text to 20 characters -->
              {{ room.description | slice:0:20 }} {{ room.description.length > 20 ? '...' : '' }}
            </p>
            <div>
<!--              <a href="javascript:void(0);" class="btn btn-success m-1 {{roomSelected?.id == room.id?'active':''}}" (click)="onRoomSelect(room)">เลือก</a>-->
              <a class="btn btn-success m-1" [routerLink]="['/booking-room',room.id,'info']">
                <i class="ri-arrow-right-double-line"></i> เลือก <i class="ri-arrow-left-double-line"></i>
              </a>
            </div>
          </div>
        </div><!-- end col -->
      } @empty {
        <div class="col-12">
          <div class="alert alert-warning" role="alert">
            <i class="ri-alert-line me-2"></i> No meeting rooms found
          </div>
        </div>
      }
    </div><!-- end row -->
      <!-- Pagination -->
      <div class="row justify-content-md-end align-items-md-center mt-3">
        <div class="col col-sm-6">
          <!-- Page info -->
          <div class="text-sm-left float-sm-start">
            <p class="mb-sm-0">Showing {{ (page - 1) * limit + 1 }} to {{ (page - 1) * limit + meetingRooms.meetingRooms.length }} of {{ meetingRooms.total }} entries</p>
          </div>
        </div>
        <!-- Pagination -->
        <div class="col col-sm-6">
          <div class="text-sm-right float-sm-end listjs-pagination">
            <ngb-pagination
              [collectionSize]="meetingRooms.total"
              [(page)]="page"
              [pageSize]="limit"
              (pageChange)="changePage()"
              [maxSize]="2"
              [boundaryLinks]="true"
            >
            </ngb-pagination>
          </div>
      </div>
      <!-- End Pagination -->
    </div>
  </div>


</div>


<ng-template #bookingRoomModal let-bookingModal>
  <div class="modal-header bg-info-subtle p-3">
    <h5 class="modal-title" id="addMeetingRoom">
      <i class="ri-add-line me-2"></i> จองห้องประชุม {{ roomSelected?.name }}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="bookingModal.dismiss('Cross click')"></button>

  </div>
  <div class="modal-body p-4">
    <form (ngSubmit)="onSubmit()" >
      <div class="row g-3">
        <div class="col-lg-12">
          <div class="mb-3">
            <label for="inputDate" class="form-label">วันที่</label>
            <input type="text" class="form-control" id="inputDate" placeholder="วันที่" name="date" value="{{ dateSelected | date: 'dd-MMMM-yyyy' }}" disabled>
          </div>
        </div>
        <!--end col-->

        <div class="col-lg-6">
          <div class="mb-3">
            <label for="inputTimeStart" class="form-label">เวลาเริ่ม</label>
            <input type="text" class="form-control" id="inputTimeStart" placeholder="เวลาเริ่ม" name="timeStart" value="{{ timeStartSlotSelected }}" disabled>
           </div>
        </div>
        <!--end col-->

        <div class="col-lg-6">
          <div class="mb-3">
            <label for="inputTimeEnd" class="form-label">เวลาสิ้นสุด</label>
            <input type="text" class="form-control" id="inputTimeEnd" placeholder="เวลาสิ้นสุด" name="timeEnd" value="{{ timeEndSlotSelected }}" disabled>
          </div>
        </div>
        <!--end col-->

        <div class="col-lg-12">
          <div class="mb-3">
            <label for="inputTitle" class="form-label">หัวข้อการประชุม</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="หัวข้อการประชุม" name="title" [(ngModel)]="bookingRoomForm.title" required>
          </div>
        </div>
        <!--end col-->
        <!-- Description -->
        <div class="col-lg-12">
          <div class="mb-3">
            <label for="inputDescription" class="form-label">รายละเอียดการประชุม</label>
            <textarea class="form-control" id="inputDescription" rows="3" placeholder="รายละเอียดการประชุม" name="description" [(ngModel)]="bookingRoomForm.description" required></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer p-0">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="bookingModal.dismiss('Cross click')">ยกเลิก</button>
        <button type="submit" class="btn btn-success">บันทึก</button>
      </div>
    </form>
  </div>

</ng-template>
