<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Booking Room" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!-- User Profile Setting -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="userForm">
          <div class="row">
            <div class="col-lg-3">
              <div class="text-center">
                <div class="position-relative d-inline-block">
                  <div class="position-absolute bottom-0 end-0">
                    <label for="image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                      <div class="avatar-xs cursor-pointer">
                        <div class="avatar-title bg-light border rounded-circle text-muted">
                          <i class="ri-image-fill"></i>
                        </div>
                      </div>
                    </label>
                    <input class="form-control d-none" value="" id="image-input" type="file" accept="image/png, image/gif, image/jpeg" name="image" (change)="fileChange($event)">
                  </div>
                  <div class="p-1">
                    <div class="">
                      <img src="{{ imageSrc }}" id="imagePreview" class="avatar-lg rounded-circle img-thumbnail" alt="lead-image" height="300">
                    </div>
                  </div>
                </div>
                <h5 class="fs-13 mt-3">Avatar</h5>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="mt-4">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-4">
                      <label class="form-label">First Name</label>
                      <input type="text" class="form-control" id="name" formControlName="name" placeholder="First Name" >
                    </div>
                    <div class="mb-4">
                      <label class="form-label">Email</label>
                      <input type="email" class="form-control" disabled value="{{userInfo.user.email}}">
                    </div>
                    <div class="mb-4">
                      <label class="form-label">Employee ID</label>
                      <input type="text" class="form-control" disabled value="{{userInfo.user.employeeId}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mb-4">
                      <label class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name">
                    </div>
                    <div class="mb-4">
                      <label class="form-label">Position</label>
                      <input type="text" class="form-control"  disabled value="{{userInfo.user.position}}">
                    </div>
                    <div class="mb-4">
                      <label class="form-label">Department</label>
                      <input type="text" class="form-control" disabled value="{{userInfo.user.department}}">
                    </div>
                  </div>
                </div>
                <div class="mt-4">
                  <button type="button" class="btn btn-primary" (click)="updateProfile()">Update Profile</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end row -->

<!-- Change Password -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Change Password</h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label for="inputPassword1" class="form-label">Current Password</label>
              <input type="password" class="form-control" id="inputPassword1" placeholder="Enter current password">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label for="inputPassword2" class="form-label">New Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Enter new password">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label for="inputPassword3" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="inputPassword3" placeholder="Enter confirm password">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="mt-4">
              <button type="button" class="btn btn-primary">Change Password</button>
            </div> <!-- end col -->
          </div>
        </div> <!-- end row -->
      </div>
    </div>
  </div>
</div>
<!-- end row -->
