<!-- Start Breadcrumbs -->
<app-breadcrumbs title="MANAGE-USERS" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row g-3">
          <div class="col-md-4">
            <div class="search-box">
              <input type="text" name="searchTerm" class="form-control" placeholder="Search for users" [(ngModel)]="searchTerm" (ngModelChange)="searchUser()">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
          <div class="col-md-auto ms-auto">
            <div class="">
              <button class="btn btn-info add-btn" (click)="addUser()">{{ "ADD-USER" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end col-->

  <div class="col-xxl-9">
    <div class="card">
      <div class="card-header border-0 p-4 pb-0">
        <div class="justify-content-between d-flex align-items-center m-0">
          <h3 class=" pb-1 text-decoration-underline">{{ "USER-INFORMATION-LIST" | translate }}</h3>
        </div>
      </div>
      <div class="card-body p-4">
        <div>
          <div class="table-responsive table-card mb-2">
            <table class="table">
              <thead>
                <tr class="bg-light">
                  <th scope="col" style="width: 50px;">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="checkAll" value="option" >
                    </div>
                  </th>
                  <th class=" ">#</th>
                  <th class=" ">Image</th>
                  <th class=" " >Name</th>
                  <th class=" " >Email
                  </th>
                  <th class=" " >Position</th>
                  <th class=" ">Department</th>
                  <th class=" " >Role</th>
                  <th class=" " >Status</th>
                  <th class=" " >Last Updated</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for(user of users; track $index){
                  <tr>
                    <td>
                      <div class="form-check form-check-primary">
                        <input class="form-check input" type="checkbox" id="check" value="option" >
                      </div>
                    </td>
                    <td>{{ $index + 1 }}</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="assets/images/users/avatar-1.jpg" alt="user" class="avatar-md me-2">
                      </div>
                    </td>

                    <td>
                      {{user.name}} {{user.lastName}}
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.position }}</td>
                    <td>{{ user.department }}</td>
                    <td>{{ user.position }}position </td>
                    <td>
                      @if(user.status == 'Active'){
                        <span class="badge bg-success">Active</span>
                      }@else{
                        <span class="badge bg-danger">Inactive</span>
                      }
                    </td>
                    <td>{{ formatDate(user.updatedAt.toString()) }}</td>
                    <td>
                      <div class="d-flex gap-3">
                        <a href="javascript:void(0);" class="text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                          <i class="ri-pencil-line"></i>
                        </a>
                        <a href="javascript:void(0);" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                          <i class="ri-delete-bin-line"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <!-- Pagination -->
            <ngb-pagination [collectionSize]="totalUsers"
                            [(page)]="page"
                            [pageSize]="pageSize"
                            (pageChange)="changePage()"
                            [maxSize]="2"
                            [boundaryLinks]="true">
            </ngb-pagination>
            <!-- End Pagination -->
            <div id="elmLoader">
              <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl-3">
    <div class="card">
      <div class="card-body text-center contact-details">
        <div class="position-relative d-inline-block">
          <img src="assets/images/users/avatar-10.jpg" alt="" class="avatar-lg rounded-circle img-thumbnail">
          <span class="contact-active position-absolute rounded-circle bg-success"></span><span class="visually-hidden"></span>
        </div>
        <h5 class="mt-4 mb-1">Tonya Noble</h5>
        <p class="text-muted">Nesta Technologies</p>

        <ul class="list-inline mb-0">
          <li class="list-inline-item avatar-xs">
            <a href="javascript:void(0);" class="avatar-title bg-success-subtle text-success fs-15 rounded">
              <i class="ri-phone-line"></i>
            </a>
          </li>
          <li class="list-inline-item avatar-xs">
            <a href="javascript:void(0);" class="avatar-title bg-danger-subtle text-danger fs-15 rounded">
              <i class="ri-mail-line"></i>
            </a>
          </li>
          <li class="list-inline-item avatar-xs">
            <a href="javascript:void(0);" class="avatar-title bg-warning-subtle text-warning fs-15 rounded">
              <i class="ri-question-answer-line"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h6 class="text-muted text-uppercase fw-semibold mb-3">Personal Information</h6>
        <p class="text-muted mb-4">Hello, I'm Tonya Noble, The most effective objective is one that is tailored
          to the job you are applying for. It states what kind of career you are seeking, and what skills and
          experiences.</p>
        <div class="table-responsive table-card">
          <table class="table table-borderless mb-0">
            <tbody>
            <tr>
              <td class="fw-medium" scope="row">Designation</td>
              <td class="designation">Lead Designer / Developer</td>
            </tr>
            <tr>
              <td class="fw-medium" scope="row">Email ID</td>
              <td class="email">tonyanoble&#64;velzon.com</td>
            </tr>
            <tr>
              <td class="fw-medium" scope="row">Phone No</td>
              <td class="phone">414-453-5725</td>
            </tr>
            <tr>
              <td class="fw-medium" scope="row">Lead Score</td>
              <td class="l_score">154</td>
            </tr>
            <tr>
              <td class="fw-medium" scope="row">Tags</td>
              <td class="tags-list">
                <div class="d-flex gap-1">
                  <span class="badge bg-primary-subtle text-primary">Lead</span>
                  <span class="badge bg-primary-subtle text-primary">Partner</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="fw-medium" scope="row">Last Contacted</td>
              <td class="contacted_date">15 Dec, 2021 <small class="text-muted">08:58AM</small></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
