
<!-- Login Form -->
<div class="container align-items-center h-100" style="margin-top: 10%">
  <div class="row justify-content-center ">
    <div class="col-md-8">
      <div class="card shadow-sm p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <div class="text-center mb-10">
            <h3 class="font-size-h1">Sign In</h3>
            <p class="text-muted font-weight-bold">Booking meeting rooms system</p>
          </div>
          <form class="form" id="login_signin_form" action="#">
            <div class="form-group m-3">
              <label for="employee_id" class="form-label font-weight-bold">Employee ID</label>
              <input class="form-control" type="text" placeholder="Please enter your employee ID" name="employee_id" />
            </div>
            <div class="form-group m-3">
              <label for="password" class="form-label font-weight-bold">Password</label>
              <input class="form-control" type="password" placeholder="Please enter your password" name="password" />
            </div>
            <div class="form-group d-flex flex-wrap justify-content-between align-items-center m-3">
              <button type="button" class="btn btn-primary ">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
