<!--suppress AngularNgOptimizedImage -->
<app-breadcrumbs title="จัดการบทบาทผู้ใช้งาน" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->


<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row g-3 justify-content-between d-flex">
          <div class="col-md-4">
            <div class="search-box">
              <input type="text" name="searchTerm" class="form-control" placeholder="Search for role" [(ngModel)]="searchTerm" (change)="searchInput()">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
          <div class="col-md-auto ms-auto">
            <!-- back button -->
            <button class="btn btn-info add-btn ms-2" (click)="backToUserList()">
              <i class="ri-arrow-left-line me-2"></i> ย้อนกลับ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Role List -->
<div class="row">
  <div class="col-xxl-12">
    <div class="card">
      <div class="card-header border-0 p-4 pb-0">
        <div class="justify-content-between d-flex align-items-center m-0">
          <h4 class=" pb-1 text-decoration-underline">จัดการบทบาทให้กับ : {{ userRoleSelected.name }} </h4>
          <div class="col-md-auto ms-auto">
            <div class="">
              <!-- เลือกทั้งหมด -->
              <button class="btn btn-info add-btn ms-2" (click)="assignRoleToUserAll()">
                <i class="ri-add-line me-2"></i> เลือกทั้งหมด
              </button>
              <!-- ยกเลิกทั้งหมด -->
              <button class="btn btn-warning add-btn ms-2" (click)="revokeRoleFromUserAll()">
                <i class="ri-close-line me-2"></i>
                ยกเลิกทั้งหมด
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-4">
        <div>
          <div class="table-responsive table-card mb-2">
            <table class="table">
              <thead>
              <tr>
                <th class="text-center" style="width: 50px;">#</th>
                <th>Role</th>
                <th class="text-center">Action</th>
              </tr>
              </thead>
              <tbody>
                @for (role of rolesResponse.data.roles; track $index){
                  <tr>
                    <td class="text-center">{{ $index + 1 }}</td>
                    <td>{{ role.name }}</td>
                    <td class="text-center">


                      @if(isUserHasRole(role)){
                        <!-- Remove role from user -->
                        <button class="btn btn-danger btn-sm" (click)="revokeRoleFromUser(role)">
                          <i class="ri-close-line me-2"></i> ลบบทบาท
                        </button>
                      } @else {
                        <!-- Assign role to user -->
                        <button class="btn btn-info btn-sm" (click)="assignRoleToUser(role)">
                          <i class="ri-add-line me-2"></i> กำหนดบทบาท
                        </button>
                      }
                    </td>
                    } @empty {
                  <tr>
                    <td colspan="5" class="text-center">No data found</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-3">
          <div class="d-flex align-items-center">
            <span class="me-2">Showing {{ rolesResponse.data.roles.length }} of {{ rolesResponse.data.total }} roles</span>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <ngb-pagination
              [collectionSize]="rolesResponse.data.total"
              [pageSize]="rolesResponse.data.limit"
              [(page)]="page"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="fetchRoles()"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
