.image-hover{
  transition: transform 0.5s;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}

.designation{
  word-break: break-word;
  white-space: normal;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}


.mdc-form-field label{
  margin-top: 8px;
}
